*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #11091a;
    background-image: url(img/fundo.png);
}



body.scrolled header {
    background-color: rgba(0, 0, 0, 0.8); 
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: rgb(255, 255, 255);
    font-size: 35px;
    cursor: pointer;
    letter-spacing: 1px;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00;
    transform: scale(1.1); 
}

@media (max-width: 768px) {
    .cabecalho {
        display: none; /* Esconde o menu por padrão */
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(17, 9, 26, 0.9); /* Fundo semi-transparente */
        z-index: 1;
    }

    .cabecalho.active {
        display: flex; /* Mostra o menu quando ativo */
    }

    .menu-toggle {
        display: block; /* Mostra o botão de menu */
    }

    nav ul li {
        padding: 10px;
        text-align: center; /* Alinha o texto ao centro */
    }
}

.menu-toggle {
    display: none; /* Esconda o botão de menu por padrão */
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
    padding: 0 120px;
    color: white;
}

/* Conteúdo principal do hero */
.home-content {
    max-width: 50%;
}

.home-content h4 {
    font-size: 1.8rem;
    font-weight: 300;
    color: #d2a8ff; /* Cor roxa clara */
    margin-bottom: 10px;
}

.home-content h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.home-content h3 {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: #fff;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #fff;
}


.hero img {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .home-content {
        max-width: 100%;
    }

    .hero img {
        max-width: 100%;
        margin-top: 20px;
    }

    .home-content h2 {
        font-size: 2.8rem;
    }

    .home-content h3 {
        font-size: 1.5rem;
    }
}


