@import 'variaveis';

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    padding: 3rem; 
    background: linear-gradient($corDefundo1, $corDefundo2), no-repeat center center;
    background-size: cover;
  
    &__container {
      text-align: left;
      max-width: 800px;
      background-color: rgba(0, 0, 0, 0.6); // Um fundo um pouco mais escuro para destaque
      padding: 2.5rem;
      border-radius: 25px;
  
      h4 {
        font-size: 1.4rem;
        padding: auto;
        font-weight: 300;
        color: $corFonte1;
      }
  
      h2 {
        font-size: 2.4rem; 
        margin-top: 0.5rem;
        font-weight: 700;
        color: $corFonte4;
      }

      #typewriter {
        display: inline-block;
        border-right: 2px solid #fff;
        white-space: nowrap;
        overflow: hidden;
      }
      
  
      h3 {
        font-size: 1.8rem;
        margin-top: 0.5rem;
        font-weight: 500;
        color: $corFonte1;
      }
  
      p {
        font-size: 1.2rem;
        margin-top: 0.6rem;
        color: $corFonte5;
  
        &:last-child {
          font-style: italic;
        }
      }
    }
  
    &__image {
      margin-left: 4rem; // Um pouco mais de espaço para a imagem
      img {
        border-radius: 15%; // Bordas um pouco menos arredondadas
        width: 300px; // Imagem maior para mais destaque
        height: 300px;
        object-fit: cover;
        border: 3px solid #fff; // Borda mais grossa para melhor contraste
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5); // Sombra mais intensa
      }
    }
  }
  
  @media (max-width: 768px) {
    .hero {
      flex-direction: column;
      padding: 1.5rem;
      background-size: cover;
  
      &__container {
        padding: 2rem; // Aumenta o padding para uma melhor adaptação
        text-align: center;
        max-width: 100%; // Expande para cobrir a largura total no mobile
  
        h2 {
          font-size: 1.8rem; // Maior para manter o impacto
        }
  
        h3 {
          font-size: 1.4rem;
        }
  
        p {
          font-size: 1rem;
        }
      }
  
      &__image {
        margin-left: 0;
        margin-top: 2rem;
        img {
          width: 280px; // Ajuste proporcional da imagem
          height: 280px;
        }
      }
    }
  }
  