//cores de fundo

$corDefundo1: #0e1c24;
$corDefundo2: #0b151b;
$corDefundo3: #070e12;
$corDefundo4: #040709;
$corDefundo5: #000000;

//cores de fonte

$corFonte1: #f19601;
$corFonte2: #f21f26;
$corFonte3: #251819;
$corFonte4: #ebc83a;
$corFonte5: #64502f;